* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

/* Top Nav */
.header {
  background: #183f3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  height: 180px;
}

.nav {
  background: #4f6d6a;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-list {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2rem;
}

.nav-list-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: color 0.2s;
}

.nav-link:focus,
.nav-link:hover {
  color: #010404;
}

/* Grid */
.grid {
  background: #eee;
  display: grid;
  grid-template-columns: minmax(200px, 300px) auto;
  height: calc(100vh - 270px);
  /* overflow: hidden; */
}

.dashboard {
  background: #fff;
}

.accordion-menu {
  background: #112c2a;
}

.accordion-item {
  background-color: #4f6d6a;
  color: #111;
}
.accordion-item-header {
  background: #183f3b;
  color: #fff;
  /* box-shadow: 0 -1px 0 #eee; */
  box-shadow: inset 0 -1px #eee;
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}
.accordion-item-header.active::after {
  /* content: "\2212"; */
  transform: translateY(-50%) rotate(0.5turn);
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: #fff;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
