* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI";
}

header {
  border-bottom: 2px solid black;
  position: relative;
  z-index: 10;
}

header h1 {
  text-align: center;
  margin: 2rem 0 3rem;
}

.time-container {
  width: 50px;
  border: 2px solid black;
  z-index: 100;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.container {
  width: 550px;
  margin: 3rem auto;
  text-align: justify;
  text-indent: 2rem;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Courtesy of https://gradientbuttons.colorion.co/ */
/* Shadows courtesy of https://getcssscan.com/css-box-shadow-examples */
.startBtn,
.infoBtn {
  margin: 2rem 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  padding: 15px 45px;
  border-radius: 10px;
  background-size: 200% auto;
  box-shadow: 0;
  outline: none;
  border: none;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 600;
}

.startBtn {
  color: #fff;
  background: linear-gradient(
    to right,
    rgb(49, 71, 85) 0%,
    rgb(38, 160, 218) 51%,
    rgb(49, 71, 85) 100%
  );
}

.infoBtn {
  color: black;
  background: linear-gradient(
    to right,
    rgb(240, 152, 25) 0%,
    rgb(237, 222, 93) 51%,
    rgb(240, 152, 25) 100%
  );
}

.startBtn:hover,
.startBtn:focus,
.infoBtn:hover,
.infoBtn:focus {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.words-to-type {
  font-size: 1.1rem;
}

.red {
  color: red;
}

.black {
  color: black;
}

/*
I want to make the timer start with 3, 2, 1 before the timer actually goes off
    color: red;
    font-weight: bold;
    font-size: 2rem;

*/

@media all and (max-width: 768px) {
  .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    margin-top: 1.5rem;
  }

  .startBtn,
  .infoBtn {
    padding: 7px 21px;
    font-size: 0.8rem;
  }
}
